<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
  <test name="D:/TESTS/automationtest-selenium-java/src/test/resources">
    <packages>
      <package name="tests.home"></package>
      <package name="tests.registration"></package>
      <package name="tests.login"></package>
      <package name="tests.shop"></package>
    </packages>
  </test>
</suite>